<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 600px;
            margin: auto;
        }
        input{
            width: 50%;
            margin-bottom: 2rem;
        }
        p{
            color: red;
            text-align: right;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <main>
        <form  method="post" action="/login">
          <h1>LogIn Now</h1>
          <input type="email" name="email" placeholder="Email" required value="<%= locals.email %>"/>
          <input type="password" name="password" placeholder="Password" required/>
          <p><%=locals.message%></p>
          <button type="Submit">LogIn</button>
        </form>
      </main>
</body>
</html>